nav {

  height: 120px;
  width: 10;
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 1em;


}

nav span {
  display: flex;
  font-family: 'Bungee', cursive;
  padding: 1.5em;
  -ms-flex-item-align: left;
}

nav btn {
  display: flex;
  -ms-flex-item-align: right;
}
