@import "globals";

nav {

  height: 120px;
  width: 100%;
  background-color: $navColor;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  span {
    display: flex;
    font-family: 'Bungee', cursive;
    padding: 1.5em;
  }
  .create-new-tweet {
    @include align-vertical;
    margin: 0cm;
    p {
      margin-bottom: 0px;
      margin-right: 20px;
    }
    .button-new-tweet {
      display: flex;
      height: 26px;
    }

  }
}






