

.blue-btn {
  background-color: #4056A1;
  color: #ffffff;
  display: flex;

}

textarea {
  border: none;
  width:100%;
  background-color: #f4f1ec;
  border-bottom: 4px solid #000;

}

.add{
  text-align: left;
  margin-left: 20px;
}

.add-tweet {
display: flex;
justify-content: space-between;
font-family: 'Bungee', cursive;
}

.counter{
  display: flex;
  color: black;
  }


  .error {
    background: #c51244 !important;
    padding: 10px !important;
    border-radius: 0 !important;
    color: black;
    position: relative;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-bottom: 10px;
    width: auto;
    height: 40px;
  }

