

.blue-btn {
  background-color: #4056A1;
  color: #ffffff;
  display: flex;
  border: none;
  padding: 6px;
}

textarea {
  border: none;
  width:100%;
  background-color: #f4f1ec;
  border-bottom: 4px solid #000;
  font-family: 'Source Sans Pro', sans-serif;
  padding: initial;
}

.add{
  text-align: left;
  margin-left: 20px;
}

.add-tweet {
display: flex;
justify-content: space-between;
font-family: 'Bungee', cursive;
}

.counter{
  display: flex;
  color: black;
  }


  .error {
    border: red solid!important;
    padding: 10px !important;
    border-radius: 0 !important;
    background: invisible;
    color: red;
    font-weight: bolder;
    box-shadow: 2px 2px 2px #aaaaaa;
    margin-bottom: 10px;
    width: auto;
    height: 40px;
  }

